@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c82323;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c73939;
}

::selection {
    color: rgb(186, 186, 186);
    background-color: rgb(48, 48, 48);
}

#arrow-left, #arrow-right {
    transition: transform 0.3s ease, filter 0.3s ease;
}

#arrow-left, #arrow-right:hover {
    transform: scale(1.1); 
}

#arrow-left {
    transform: scaleX(-1); 
}

#arrow-left:hover {
    transform: scaleX(-1.1) scale(1.1); 
}

#arrow-svg path {
    transition: fill-opacity 0.3s ease;
}

#arrow-left:hover #arrow-svg path {
    fill-opacity: 1;
}

#arrow-right:hover #arrow-svg path {
    fill-opacity: 1;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade.show {
    opacity: 1;
}

.text-red-500 {
    color: #c82323;
}