@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c82323;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c73939;
}

::selection {
    color: rgb(186, 186, 186);
    background-color: rgb(48, 48, 48);
}

.hover-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #C82323;
    transition: width 0.3s;
    margin: 0 auto;
}
.hover-underline:hover::after {
    width: 100%;
}
